/* ************************* */
/* ******* GENERAL ********* */
/* ************************* */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(240, 240, 240);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin: 0;
}

.clear {
  clear: both; /* clears left and right floats */
}

/* ************************* */
/* ******** HEADER ********* */
/* ************************* */

nav {
  min-height: 5.5rem;
  padding: 1rem;
}

table {
  text-align: center;
}

.table--height {
  height: 6rem;
}

.centred {
  min-height: 6rem;
  margin: 0 auto;
  width: 80%;
}

.left,
.right {
  float: left;
}

/* ************************* */
/* ********* LEFT ********** */
/* ************************* */

.left {
  width: 50%;
}

.rocket {
  text-align: right;
  width: 250px;
  padding-bottom: 0.3rem;
}

.right-pad {
  padding-right: 6rem;
}

a img:hover {
  padding: 0.3em 0.2em 0 0.2em;
}

/* ************************* */
/* ********* RIGHT ********* */
/* ************************* */

header nav a {
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
}

a.menu {
  line-height: 0;
  text-decoration: none;
}

a.first {
  padding: 0 2rem 0 0;
}

a.middle {
  padding: 0 2rem;
}

a.last {
  padding: 0 0 0 2rem;
  line-height: 0;
  text-decoration: none;
}

header nav a:hover {
  font-weight: 600;
  font-size: 1.08rem;
}

/* ************************* */
/* ****** MAIN BODY ******** */
/* ************************* */

.bckgd {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/spacex-800w.jpg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 800px;
  min-width: 1280px;
  width: 100%;
}

.top-line {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-text {
  float: right;
  padding-top: 13.4rem;
  min-width: 720px;
  width: 45%;
  color: #fff;
  min-height: 6rem;
  margin-right: 35%;
}

.main {
  font-size: 3.7rem;
  margin-top: 0em;
  margin-bottom: 0.1em;
  font-weight: 300;
  text-transform: capitalize;
}

p.your-rocket {
  font-size: 1.7rem;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 100;
}

a.button1 {
  display: inline-block;
  padding: 1rem 2rem;
  color: #ffffff;
  border: 0.1em solid #ffffff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.07rem;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}

a.button1:active {
  padding: 1rem 1.95rem;
  font-weight: 600;
}

.section-header,
.waste-text {
  color: rgb(40, 25, 0);
}

.section-header {
  margin: 5rem 6rem 3rem 6rem;
  text-align: center;
  font-weight: 300;
  font-size: 2.4rem;
}

.waste-text {
  margin: 2rem auto;
  text-align: justify;
  width: 89%;
}

.why {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem auto;
  width: 70%;
}

.waste-lateral {
  margin: 1rem auto;
  width: 80%;
}

.waste-middle {
  margin: 1rem auto;
  width: 90%;
}

.contact-in-text {
  color: rgb(0, 60, 120);
  border: 2px solid rgb(0, 60, 120);
  font-size: 0.9rem;
  padding: 0.2rem 0.2rem 0.1rem 0.2rem;
}

/* ************************** */
/* ******** Footer ********* */
/* ************************** */

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: right;
  width: 95%;
}

/* ************************** */
/* ******* Contact Us ******* */
/* ******** General ********* */
/* ************************** */

.invisible {
  margin: 0;
  visibility: hidden;
  font-size: 2px;
}

.narrow {
  width: 74%;
  margin: 0 auto;
}

/* ***************************** */
/* ***** Main & Contact Us ***** */
/* *********** Header ********** */
/* ***************************** */

/* ******************************* */
/* ********* Contact Info ******** */
/* ******* Contact Us Page ******* */
/* ******************************* */

.info {
  margin: 2rem 0.5% 0 3%;
  background: white;
  min-width: 450px;
  width: 44.5%;
}

#contact-word {
  font-size: 4rem;
  margin-top: 0;
  padding-top: 0;
}

.contact {
  font-size: 1.3rem;
  line-height: 1.5;
}

.us {
  padding: 0 1.5rem 1em 0;
}

.heavy-font {
  text-decoration: none;
  color: #000;
}
.heavy-font:hover {
  font-weight: 600;
}

/* ******************************* */
/* ******** Contact Form ********* */
/* ******* Contact Us Page ******* */
/* ******************************* */

.contact-form {
  padding: 2.3rem 0 2.3rem 3%;
  min-width: 400px;
  width: 48%;
  text-align: left;
  background-color: #fff;
}

label {
  text-transform: capitalize;
}

.label {
  margin: 0 0 1.5em 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

input,
textarea {
  display: block;
  background: rgb(240, 240, 240);
  border: 1px solid #ccc;
  width: 95%;
  padding: 0.1em 0 0.1em 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
}

input:focus,
textarea:focus {
  background: rgba(70, 70, 70, 10%);
}

input:active,
textarea:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

a.button2 {
  display: inline-block;
  width: 95%;
  padding: 1rem 2rem;
  border: 1px solid #c1c1c1;
  color: #333;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.07rem;
}

a.button2:hover {
  color: #fff;
  background-color: #000;
}

a.button2:active {
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
