/* ************************* */
/* ******* GENERAL ********* */
/* ************************* */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(240, 240, 240);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin: 0;
}

.clear {
  clear: both; /* clears left and right floats */
}

.text-highlight--red {
  color: darkred;
}

.text-highlight--blue {
  color: blue;
}

/* ************************* */
/* ******** HEADER ********* */
/* ************************* */

nav {
  min-height: 5.5rem;
  padding: 1rem;
}

table {
  text-align: center;
}

.table--height {
  height: 6rem;
}

.centred {
  margin: 0 auto;
  min-height: 6rem;
  width: 80%;
}

.left,
.right {
  float: left;
}

/* ********* LEFT ********** */

.left {
  width: 50%;
}

.rocket {
  text-align: right;
  padding-bottom: 0.3rem;
  width: 250px;
}

.right-pad {
  padding-right: 6rem;
}

a img:hover {
  padding: 0.3em 0.2em 0 0.2em;
}

/* ********* RIGHT ********* */

header nav a {
  color: #111;
  display: inline-block;
  font-size: 1.1rem;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

a.menu {
  line-height: 0;
  text-decoration: none;
}

.first {
  padding: 0 2rem 0 0;
}

.middle,
.last {
  padding: 0 2rem;
}

header table a:hover {
  font-size: 1.08rem;
  font-weight: 600;
}

/* ************************* */
/* ****** MAIN BODY ******** */
/* ************************* */

.bckgd {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/spacex-800w.jpg");
  background-attachment: fixed;
  background-color: #464646;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  min-width: 1280px;
  width: 100%;
}

.main-text {
  color: #fff;
  float: right;
  margin-right: 35%;
  padding-top: 13.4rem;
  width: 45%;
  min-width: 720px;
  min-height: 6rem;
}

.main {
  font-size: 3.7rem;
  font-weight: 300;
  margin-top: 0em;
  margin-bottom: 0.1em;
  text-transform: capitalize;
}

.your-rocket {
  font-size: 1.7rem;
  font-weight: 100;
  margin-top: 1em;
  margin-bottom: 2em;
}

.button1 {
  border: 0.1em solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button1:hover {
  background-color: #ffffff;
  color: #000000;
}

.button1:active {
  font-weight: 600;
  padding: 1rem 1.95rem;
}

.section-header,
.waste-text {
  color: rgb(40, 25, 0);
}

.section-header {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 5rem 6rem 3rem 6rem;
  text-align: center;
}

.waste-text {
  margin: 2rem auto;
  text-align: justify;
  width: 89%;
}

.why1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem auto;
  width: 65%;
}

.why2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem auto;
  width: 70%;
}

.waste-lateral {
  margin: 1rem auto;
  width: 80%;
}

.waste-middle {
  margin: 1rem auto;
  width: 85%;
}

.contact-in-text {
  border: 2px solid rgb(0, 60, 120);
  color: rgb(0, 60, 120);
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.25rem 0.3rem 0.1rem;
  vertical-align: text-top;
}

/* ************************** */
/* ******** Footer ********* */
/* ************************** */

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 95%;
}

#vcss {
  display: inline-block;
  padding-left: 0.1em;
  margin-block-start: 0.8em;
  text-align: left;
  width: 49.6%;
}

footer img {
  width: 79px;
  height: 28px;
}

#copyright {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 50%;
  font-size: 0.9em;
}

/* ******************************* */
/* ******************************* */
/* ******* Contact Us Page ******* */
/* ******************************* */
/* ******************************* */

.top-line {
  background-color: rgba(0, 0, 0, 0.1);
}

.narrow {
  margin: 0 auto;
  width: 74%;
}

.invisible {
  font-size: 2px;
  margin: 0;
  visibility: hidden;
}

/* ******************************* */
/* ********* Contact Info ******** */
/* ******* Contact Us Page ******* */
/* ******************************* */

.info {
  margin: 2rem 0.5% 0 3%;
  min-width: 450px;
  width: 44.5%;
}

#contact-word {
  font-size: 4rem;
  margin-top: 0;
  padding-top: 0;
}

.contact {
  font-size: 1.3rem;
  line-height: 1.5;
}

.us {
  padding: 0 1.5rem 1em 0;
}

.heavy-font {
  color: #000;
  text-decoration: none;
}
.heavy-font:hover {
  font-weight: 600;
}

/* ******************************* */
/* ******** Contact Form ********* */
/* ******* Contact Us Page ******* */
/* ******************************* */

.contact-form {
  padding: 2.3rem 0 2.3rem 3%;
  text-align: left;
  width: 48%;
  min-width: 400px;
}

label {
  text-transform: capitalize;
}

.label {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

input,
textarea {
  background: rgb(240, 240, 240);
  border: 1px solid #ccc;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  padding: 0.1em 0 0.1em 0.4em;
  width: 95%;
}

input:focus,
textarea:focus {
  background: rgba(70, 70, 70, 10%);
}

input:active,
textarea:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button2 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #c1c1c1;
  color: #333;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 95%;
}

.button2:hover {
  background-color: #000;
  color: #fff;
}

.button2:active {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

/* ******************************* */
/* ******** Contact Form ********* */
/* ******* Contact Us Page ******* */
/* ******************************* */

#thank-you {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home {
  border: 2px solid #999;
  color: #333;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 15%;
  min-width: 11em;
}

.home:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.home:active {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

#back-home {
  color: black;
  padding: 1em 4em;
  text-decoration: none;
}
